# ignore pdf files
*.pdf

# ignore zip archives
*.zip

# ignore word files
*.docx

# library files
*.bib

# image files
*.png
*.jpg
*.bmp
*.tiff
*.eps

# auto-save file from matlab
*.asv

# annoying Desktop Service Store on mac
.DS_Store

# Rhistory file
.Rhistory