# ignore subdirectories
*/
# ignore pdf files
*.pdf

# ignore zip archives
*.zip

# ignore MS files
*.docx
*.pptx
*.xlsx

# ignore other files
*.html
*.Rmd

# ignore .tex files
*.tex

# library files
*.bib

# image files
*.png
*.jpg
*.bmp
*.tiff
*.eps

# ignore results files that are sometimes very large
*.txt
*.csv
*.tsv

# auto-save file from matlab
*.asv

# annoying Desktop Service Store on mac
.DS_Store

# Rhistory file
.Rhistory